/packages/
/.vs/
/ProjectsManagment/bin/*
/ProjectsManagment/obj/*
/ProjectsManagment/Scripts/*
/ProjectsManagment/Content/*
/ProjectsManagment/fonts/*
/Infrastructure/bin/*
/Infrastructure/obj/*
/Domain/Domain.Interfaces/bin/*
/Domain/Domain.Interfaces/obj/*
/Domain/Domain.Core/bin/*
/Domain/Domain.Core/obj/*
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
