/packages/
/.vs/
/ProjectsManagment.Web/Scripts/*
/ProjectsManagment.Web/Content/*
/ProjectsManagment.Web/fonts/*
/ProjectsManagment.Data/bin/*
/ProjectsManagment.Data/obj/*
/ProjectsManagment.Entity/bin/*
/ProjectsManagment.Entity/obj/*
/ProjectsManagment.Web/bin/*
/ProjectsManagment.Web/obj/*

/ProjectsManagment.UI/node_modules

# testing
/ProjectsManagment.UI/coverage

# production
/ProjectsManagment.UI/build

# misc
/ProjectsManagment.UI/*.DS_Store
/ProjectsManagment.UI/*.env.local
/ProjectsManagment.UI/*.env.development.local
/ProjectsManagment.UI/*.env.test.local
/ProjectsManagment.UI/*.env.production.local
/ProjectsManagment.UI/npm-debug.log*
/ProjectsManagment.UI/yarn-debug.log*
/ProjectsManagment.UI/yarn-error.log*



*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
