/packages/
/.vs/
/ProjectsManagment.Web/Scripts/*
/ProjectsManagment.Web/Content/*
/ProjectsManagment.Web/fonts/*
/ProjectsManagment.Data/bin/*
/ProjectsManagment.Data/obj/*
/ProjectsManagment.Entity/bin/*
/ProjectsManagment.Entity/obj/*
/ProjectsManagment.Web/bin/*
/ProjectsManagment.Web/obj/*
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
